<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/main.css" />
    <link rel="stylesheet" href="/public/css/test.css " />
    <link rel="icon" href="/public/image/favicon.ico" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>SEMICOLON</title>
  </head>
  <body>
    <header>
      <a href="/"
        ><img class="logo" src="/public/image/logo.svg" alt="logo"
      /></a>
    </header>
    <section class="section01">
      <div>
        <img class="main-title" src="/public/image/maintitle.png" alt="title" />
        <img class="sub-title" src="/public/image/subtitle.png" alt="title" />
      </div>
      <img class="main-octocat" src="/public/image/main-octocat-.png" alt="옥토캣" />
    </section>
    <section class="section02">
      <div class="question-box">
        <p class="question-number"><%= count+1%>번 문제</p>
        <p class="question-text"></p>
        &nbsp;<span class="question-score">(10점)</span>
      </div>
      <form action="" id="answer-form" name="answerForm">
        <div id="answer-list">
          <label class="answer banselect">
            <input type="radio" value="A" name="answer" />
            <object
              data="/public/image/icon-park-solid_check-one.svg"
              alt="체크"
            ></object>
            <span class="answer-text1"></span>
          </label>
          <label class="answer banselect">
            <input type="radio" value="B" name="answer" />
            <object
              data="/public/image/icon-park-solid_check-one.svg"
              alt="체크"
            ></object>
            <span class="answer-text2"></span>
          </label>
          <label class="answer banselect">
            <input type="radio" value="C" name="answer" />
            <object
              data="/public/image/icon-park-solid_check-one.svg"
              alt="체크"
            ></object>
            <span class="answer-text3"></span>
          </label>
          <label class="answer banselect">
            <input type="radio" value="D" name="answer" />
            <object
              data="/public/image/icon-park-solid_check-one.svg"
              alt="체크"
            ></object>
            <span class="answer-text4"></span>
          </label>
        </div>
        <button class="main-btn question-next banselect" id="nextBtn" type="button">
          다음으로
        </button>
        <button
          class="main-btn question-next question-last banselect"
          id="endBtn"
          type="button"
        >
          결과 보기
        </button>

        <p class="question-capion" id="capion"></p>
      </form>
      <form
        name="formGetResult"
        action="result"
        method="post"
        style="display: none"
      >
        <input name="answerData" type="text" style="display: none" />
        <p class="question-capion" id="capion">
          <span>%= remainQuestion %</span>개의 문제가 남았습니다.
        </p>
      </form>
    </section>
    <footer>
      <span
        >제작: 세미콜론 팀,<br />
        사용된 옥토캣 이미지 저작권은 모두 깃허브에게 있습니다.</span
      >
    </footer>
    <script>
      const nextBtn = document.getElementById("nextBtn");
      const endBtn = document.getElementById("endBtn");
      const capion = document.getElementById("capion");
      const answer = document.getElementsByClassName("answer");
      let radio = document.getElementsByName("answer");
      const userAnswers = [];

      document.addEventListener("DOMContentLoaded", function () {
        var radioButtons = document.querySelectorAll(
          '.answer input[type="radio"]'
        );
        var nextButton = document.getElementById("nextBtn");

        radioButtons.forEach(function (radioButton) {
          radioButton.addEventListener("change", function () {
            radioButtons.forEach(function (rb) {
              rb.closest(".answer").classList.remove("checked");
            });
            if (this.checked) {
              this.closest(".answer").classList.add("checked");
            }
          });
        });

        nextButton.addEventListener("click", function () {
          radioButtons.forEach(function (radioButton) {
            if (radioButton.checked) {
              radioButton.closest(".answer").classList.remove("checked");
            }
          });
        });
      });


      document.addEventListener("DOMContentLoaded", function () {
        let count = 0;
        let remainQuestion = 10;
        loadQuestion(count);

        document
          .getElementById("nextBtn")
          .addEventListener("click", async function () {
            const selectedAnswer = document.querySelector(
              'input[name="answer"]:checked'
            );

            if (selectedAnswer) {
              userAnswers.push(selectedAnswer.value);
              for (i = 0; i < radio.length; i++) {
                if (radio[i].checked) {
                  radio[i].checked = false;
                  document
                    .querySelector("label")
                    .classList.remove("answerChecked");
                }
              }
              if (userAnswers.length === 9) {
                endBtn.style.display = "inline";
                nextBtn.style.display = "none";
                capion.style.display = "none";
              }

              count++;
              await loadQuestion(count);

              const remainingQuestions = 10 - count;
              capion.textContent = `${remainingQuestions} 문제 남았습니다.`;
            } else {
              alert("문제를 풀어주세요.");
            }
          });
        async function loadQuestion(count) {
          try {
            const response = await axios.post("/postCorrectAnswers");
            const correctAnswers = response.data;
            const currentQuestion = correctAnswers[count];
            const answerElements = document.querySelectorAll(".answer-text");
            document.querySelector(".question-number").textContent = `${
              count + 1
            }번 문제`;
            document.querySelector(
              ".question-capion"
            ).textContent = `${remainQuestion} 문제 남았습니다.`;
            document.querySelector(
              ".question-text"
            ).textContent = `${currentQuestion.question}`;
            document.querySelector(
              ".answer-text1"
            ).textContent = `${currentQuestion.select1}`;
            document.querySelector(
              ".answer-text2"
            ).textContent = `${currentQuestion.select2}`;
            document.querySelector(
              ".answer-text3"
            ).textContent = `${currentQuestion.select3}`;
            document.querySelector(
              ".answer-text4"
            ).textContent = `${currentQuestion.select4}`;

            answerElements.forEach((answerElement, index) => {
              answerElement.textContent = currentQuestion.options[index];
            });
          } catch (error) {
            console.error("에러 발생: ", error);
          }
        }

        document
          .getElementById("endBtn")
          .addEventListener("click", async function () {
            try {
              const selectedAnswer = document.querySelector(
                'input[name="answer"]:checked'
              );

              let userAnswersString = "";
              if (selectedAnswer) {
                userAnswers.push(selectedAnswer.value);
              }
              const form = document.forms["formGetResult"];
              form.answerData.value = userAnswers;
              formGetResult.submit();
            } catch (error) {
              console.error("에러 발생: ", error);
            }
          });
      });
    </script>
  </body>
</html>
