<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/css/main.css">
  <link rel="stylesheet" href="../public/css/test.css">
  <title>Document</title>
</head>
<body>
  <header>
    <div>logo</div>
    <img src="" alt="" />
  </header>
  <section class="section01">
    <div>2023</div>
  </section>
  <section class="section02">
    <!-- 문제 카드 -->
    <div class="question-box">
      <p class="question-number">단계 도전!</p>
      <p class="question-text">신조어 오뱅알은 무엇의 줄임말일까?&nbsp;<span class="question-score">(6점)</span></p>
    </div>
    <!-- 대답 선택지 -->
    <form action="" id="answer-form">
      <div id="answer-list">
        <button class="answer">
          <object data="../public/image/icon-park-solid_check-one.svg" alt=""></object>
          <span>오늘 방송 알찼다.</span>
        </button>
        <button class="answer">
          <object data="../public/image/icon-park-solid_check-one.svg" alt=""></object>
          <span>오늘 방송 알찼다.</span>
        </button>
        <button class="answer">
          <object data="../public/image/icon-park-solid_check-one.svg" alt=""></object>
          <span>오늘 방송 알찼다.</span>
        </button>
        <button class="answer">
          <object data="../public/image/icon-park-solid_check-one.svg" alt=""></object>
          <span>오늘 방송 알찼다.</span>
        </button>
      </div>
      <button class="main-btn question-next">다음으로</button>
      <button class="main-btn question-next" onclick="showResult()">트렌드 지수 결과 보기</button>
      <p class="question-capion">15개의 문제가 남았습니다.</p>
    </form>
  </section>

  <footer>
    <span>COPYRIGHT(C) UNIVTOMORROWA.ALL RIGHTS RESERVED.</span>
  </footer>

  <script>
    function showResult() {
      console.log("click")
      location.href="/result";
    }
</script>
</body>
</html>

