header {
  background-color: var(--main-blue-deep);
  height: 72px;
}

header img {
  position: absolute;
  left: 16px;
  top: 19px;
  width: 206px;
  height: 30px;
}

.wrapper {
  padding: 53px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-blue-deep);
}

.main-title img {
  max-width: 353px;
  width: 100%;
}

.octocat {
  bottom: 12px;
  width: 100%;
}

.main-btn {
  font-size: 30px;
  height: 90px;
  padding: 10px;
  width: 75%;
  border-radius: 60px;
  border: 0;
  font-weight: 700;
  /* margin-top: 20px; */
  cursor: pointer;
  box-shadow: 0 10px 0 var(--main-blue-dark);
  transition: transform 0.2s, box-shadow 0.2s;
}

.main-btn:active {
  transform: translateY(3px);
  box-shadow: 0 5px 0 var(--main-blue-dark);
}

.cont-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--main-blue-main);
  padding: 36px 18px;
  text-align: center;
}

.box {
  width: 100%;
  padding: 11px 18px 10px;
  background: var(--main-blue-deep);
}

.data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 58px;
  color: var(--main-white-basic);
}

.box:not(:last-child) {
  margin-bottom: 12px;
}

.data .label {
  font-weight: 400;
  font-size: 24px;
}

.data .value {
  font-weight: 900;
  font-size: 32px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  color: var(--main-gray-light);
  font-size: 12px;
  font-weight: 400;
}

.lv-button {
  background-color: var(--main-blue-main);
  color: var(--main-white-basic);
  border-radius: 555px;
  width: 179px;
  height: 31px;
  margin-top: 6px;
  border: 1px solid var(--main-white-basic);
  font-size: 14px;
  font-weight: 700;
}

.sesac {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--main-white-basic);
  align-items: center;
  text-align: center;
  padding: 36px 36px;
}

.sesac-container {
  background-color: var(--main-gray-light);
  border-radius: 20px;
  height: 210px;
  width: 100%;
}

.sesac-container img {
  width: 100%;
  max-width: 300px;
  cursor: pointer;
}

.sesac-container p {
  font-size: 18px;
  color: var(--main-blue-dark);
  margin-top: -25px;
}

.sesac-link-button {
  display: inline-block;
  margin-top: 10px;
  background-color: var(--main-white-basic);
  text-decoration: none;
  border-radius: 10px;
  font-size: 14px;
  padding: 10px 12px;
  color: inherit;
}

.comment-section {
  border-top: 1px solid var(--main-gray-light);
  padding: 10px 15px;
}

.comment-box {
  border-top: 1px solid var(--main-gray-light);
  padding: 10px 15px;
}

.honor {
  font-size: 30px;
  color: var(--main-black-basic);
  padding: 0px 15px;
}

.manjeom {
  font-size: 15px;
  color: var(--main-black-basic);
  padding: 10px 15px;
}

.nickname {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.nickname img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.nickname .name {
  color: var(--main-black-basic);
}

.float-box {
  background-color: var(--main-black-basic);
  color: var(--main-white-basic);
  align-items: center;
  text-align: center;
  cursor: pointer;
  position: fixed;
  height: 40px;
  display: flex;
  justify-content: center;
}

.sns-list {
  display: none;
  list-style: none;
  bottom: 90px;
}

.sns-list.show {
  position: absolute;
  display: flex;
  gap: 1em;
}

.link-icon {
  background-repeat: no-repeat;
  display: inline-block;
  width: 40px; /* 아이콘의 너비 설정 */
  height: 40px; /* 아이콘의 높이 설정 */
  text-indent: -9999px;
}

.link-icon.twitter {
  background-image: url(../image/icon-twitter.png);
}

.link-icon.facebook {
  background-image: url(../image/icon-facebook.png);
}

.link-icon.kakao {
  background-image: url(../image/icon-kakao.png);
}

.copy-btn {
  width: 40px;
  height: 40px;
  color: var(--main-white-basic);
  border-radius: 24px;
  border: 0px;
  font-weight: 800;
  font-size: 11px;
  cursor: pointer;
  background-color: var(--main-black-basic);
}

.float-box {
  height: 75px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  color: var(--main-white-basic);
}
.float-box p {
  font-size: 1.5em;
}

@media (min-width: 576px) {
  .main-title img {
    width: 100%;
    max-width: 800px;
    margin-left: 0;
  }

  .float-box {
    color: var(--main-white-basic);
    position: fixed;
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .sns-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute; /* 상대 위치 대신 절대 위치로 변경 */
  }

  .sns-list li {
    margin-bottom: 10px;
  }
  .octocat {
    right: auto;
    width: 100%;
    max-width: 129%;
  }
}

@media (min-width: 1440px) {
}
