/* header (semicolon logo) */
header {
  background-color: var(--main-blue-deep);
  height: 72px;
}

header img {
  position: absolute;
  left: 16px;
  top: 19px;
  width: 206px;
  height: 30px;
}

/* section1: 퀴즈 타이틀, 캐릭터, 시작하기 버튼 */
.wrapper {
  padding: 53px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-blue-deep);
}

.main-title img {
  max-width: 353px;
  width: 100%;
}

.octocat {
  bottom: 12px;
  width: 100%;
}

.main-btn {
  font-size: 30px;
  height: 90px;
  padding: 10px;
  width: 75%;
  border-radius: 60px;
  border: 0;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 10px 0 var(--main-blue-dark);
  transition: transform 0.2s, box-shadow 0.2s;
}

.main-btn:active {
  transform: translateY(3px);
  box-shadow: 0 5px 0 var(--main-blue-dark);
}


/* section2: 응시자, 평균점수, 만점자*/
.cont-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--main-blue-main);
  padding: 36px 18px;
  text-align: center;
  
}

.box {
  width: 100%;
  padding: 11px 18px 10px;
  background: var(--main-blue-deep);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 58px;
  color: var(--main-white-basic);
}

.box:not(:last-child) {
  margin-bottom: 12px;
}

.box .label {
  font-weight: 400;
  font-size: 24px;
}

.box .value {
  font-weight: 900;
  font-size: 32px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* section3: 새싹 링크 */

.sesac {
  display: flex;
  flex-direction: column;
  background-color: var(--main-white-basic);
  align-items: center;
  text-align: center;
  padding: 36px 36px;
}

.sesac-container {
  background-color: var(--main-gray-light);
  border-radius: 20px;
  height: 210px;
  width: 100%;
}

.sesac-container img {
  width: 100%;
  max-width: 300px;
  cursor: pointer;
}

.sesac-container p {
  font-size: 18px;
  color: var(--main-blue-dark);
  margin-top: -25px;
}

.sesac-link-button {
  display: inline-block;
  margin-top: 10px;
  background-color: var(--main-white-basic);
  text-decoration: none;
  border-radius: 10px;
  font-size: 14px;
  padding: 8px 8px;
  color: inherit;
}

/* section4: 댓글 */
.comment-section {
  border-top: 1px solid var(--main-gray-light);
  padding: 10px 15px;
}

.comment-box {
  border-top: 1px solid var(--main-gray-light);
  padding: 10px 15px;
}

.honor {
  font-size: 30px;
  color: var(--main-black-basic);
  padding: 0px 15px;
}

.manjeom {
  font-size: 15px;
  color: var(--main-black-basic);
  padding: 10px 15px;
}

.nickname {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.nickname img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.nickname .name {
  color: var(--main-black-basic);
}

/* float-box */
.float-box {
  background-color: var(--main-black-basic);
  color: var(--main-white-basic);
  align-items: center;
  text-align: center;
  cursor: pointer;
  height: 35px;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  font-size: 15px;  
  left: 0;
}

.sns-list {
  display: none;
  list-style: none;
  bottom: 45px;
}

.sns-list.show {
  position: absolute;
  display: flex;
  gap: 1em;
}

.link-icon {
  background-repeat: no-repeat;
  display: inline-block;
  width: 40px; /* 아이콘의 너비 설정 */
  height: 40px; /* 아이콘의 높이 설정 */
  text-indent: -9999px;
}

.link-icon.twitter {
  background-image: url(../image/icon-twitter.png);
}
.link-icon.facebook {
  background-image: url(../image/icon-facebook.png);
}
.link-icon.kakao {
  background-image: url(../image/icon-kakao.png);
}

.copy-btn {
  width: 40px;
  height: 40px;
  color: var(--main-white-basic);
  border-radius: 24px;
  border: 0px;
  font-weight: 800;
  font-size: 11px;
  cursor: pointer;
  background-color: var(--main-black-basic);
}

/* 미디어쿼리 breakpoint: 576, 1440 px*/
/* 적용되어야 할 요소들: section1-wrapper, float-box 이렇게 두 개! */


  /* .float-box {
    color: var(--main-white-basic);
    position: fixed;
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .sns-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute; }/* 상대 위치 대신 절대 위치로 변경 */
  

  /* .sns-list li {
    margin-bottom: 10px; */
  /* } */ 

  @media screen and (min-width: 576px) {
    .wrapper {
      width: 100%;
    
    }

    .main-title img {
      max-width: 700px;
      left: 0;
    }
  
    .octocat { 
      max-width: 500px;

    }
  
    .main-btn {
      font-size: 40px;
      height: 90px;
      padding: 10px;
      width: 75%;
      border-radius: 60px;
      border: 0;

    }

    
    .float-box {
      color: var(--main-white-basic);
      height: 80px;
      width: 80px;
      border-radius: 50%;
      top: 35%;
      right: 2%;
      border: 2px solid var(--main-gray-light);
      /* box-shadow: 0 0 10px var(--main-black-basic); */
      left: auto;
    }

    .sns-list.show {
      flex-direction: column; 
      top: 130%;
      gap: 1.5em;
    }



  } 