@font-face {
  font-family: "NEXON Lv1 Gothic OTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "NEXON Lv1 Gothic OTF", "Noto Sans KR", "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

:root {
  --main-gray-light: #ebede9;
  --main-gray-deep: #9e9999;
  --main-blue-main: #2487b9;
  --main-blue-deep: #086ba2;
  --main-blue-dark: #06598b;
  --main-black-basic: #333;
  --main-white-basic: #ffffff;
}

.main-btn {
  background-color: var(--main-gray-light);
  color: var(--main-blue-deep);
}

/* section01 test, result 헤더 */
header {
  position: absolute;
  width: 100%;
  height: 72px;
  padding: 18px;
}
header img {
  height: 20px;
}

.section01 {
  width: 100%;
  padding: 72px 18px 24px 18px;
  height: 156px;
  background: var(--main-blue-deep);
}
.section01 img {
  position: absolute;
}
.section01 img.main-title {
  top: 60px;
  left: 18px;
  z-index: 2;
}
.section01 img.sub-title {
  top: 114px;
  left: 37px;
  z-index: 2;
}
.section01 img.main-octocat {
  top: 25px;
  right: 18px;
}

/* section04 */
.comment-section {
  border-top: 1px solid var(--main-gray-light);
  padding: 10px 15px;
}

.comment-box {
  border-top: 1px solid var(--main-gray-light);
  padding: 10px 15px;
}

.honor {
  font-size: 30px;
  color: var(--main-black-basic);
  padding: 0px 15px;
}

.manjeom {
  font-size: 15px;
  color: var(--main-black-basic);
  padding: 10px 15px;
}

.nickname {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 10px;
}

.nickname img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.nickname .name {
  color: var(--main-black-basic);
}

.banselect{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* 인터넷익스플로러 */
  user-select: none;
}