header {
  background-color: var(--main-blue-deep);
  height: 100px;
  padding: 10px;
}

header div .logo {
  /* position: absolute; */
  left: 18px;
  top: 18px;
}

header h1 {
  margin-top: 10px;
  color: var(--main-white-basic);
  display: block;
  text-align: center;
}

.form-wrapper {
  z-index: 2;
  display: none;
}
.form-bg {
  display: none;
  z-index: 1;
  position: absolute;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.3);
  /* background-color: #333; */
}

.comment-form {
  /* outline: none; */
  z-index: 2;
  border-radius: 10px;
  background-color: var(--main-white-basic);
  backdrop-filter: blur(15px);
  padding: 25px;
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 330px;
  /* height: 200px; */
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.3);
  border: 0;
}
.comment-form input {
  outline: none;
  border: 0;
  border-bottom: 1px solid #333;
}
.comment-form p {
  font-size: 1.5em;
  margin-bottom: 15px;
}
.comment-form button {
  width: 200px;
}

.wrapper {
  /* z-index: 1; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* background-color: #333; */
  align-items: center;
  background-color: var(--main-blue-main);
  padding: 10px;
}

.score {
  color: var(--main-white-basic);
  width: 300px;
  margin-top: 10px;
  text-align: center;
  word-wrap: break-word;
  background-color: var(--main-blue-deep);
  padding: 10px;
  border-radius: 10px;
}
.score p {
  font-size: 2em;
  margin-top: 10px;
}

.result-desc {
  text-align: center;
  word-wrap: break-word;
  margin-top: 10px;
  width: 300px;
  background-color: var(--main-white-basic);
  padding: 10px;
  border-radius: 9px;
  border: 2px solid var(--main-blue-deep);
}
.result-desc h3 {
  color: var(--main-blue-deep);
  font-weight: 700;
}
.result-desc p {
  margin-top: 10px;
}
.result-desc img {
  margin-top: 20px;
  display: block;
  width: 275px;
  height: 275px;
  background-color: #333;
}

.icon-group div {
  display: flex;
  margin-top: 10px;
}
.icon-group i {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #333;
}

.comment-section {
  margin-top: 10px;
  width: 330px;
  background-color: var(--main-white-basic);
  /* border-top: 1px solid var(--main-gray-light); */
  padding: 10px 15px;
  margin-bottom: 15px;
}
.comment-box {
  border-top: 1px solid var(--main-gray-light);
  padding: 10px 15px;
}
.honor {
  font-size: 30px;
  color: var(--main-black-basic);
  /* padding: 0px 15px; */
}
.nickname {
  display: flex;
  align-items: center;
  /* margin-bottom: 10px; */
}
.nickname .name {
  color: var(--main-black-basic);
}

footer {
  font-size: 0.8em;
  height: 100px;
  margin-bottom: 70px;
  color: var(--main-gray-deep);
  background-color: var(--main-white-basic);
  line-height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer > p {
  text-align: center;
}
