header {
  background-color: var(--main-blue-deep);
  height: 100px;
  padding: 10px;
}

header div .logo {
  /* position: absolute; */
  left: 18px;
  top: 18px;
}

header h1 {
  margin-top: 10px;
  color: var(--main-white-basic);
  display: block;
  text-align: center;
}

.form-wrapper {
  z-index: 4;
  display: none;
}
.form-bg {
  display: none;
  z-index: 3;
  position: absolute;
  width: 100vw;
  height: 100%;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.3);
  /* background-color: #333; */
}
.comment-form {
  z-index: 4;
  border-radius: 10px;
  background-color: var(--main-white-basic);
  backdrop-filter: blur(15px);
  padding: 25px;
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 360px;
  /* height: 200px; */
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.3);
  border: 0;
}
.comment-form > img {
  width: 125px;
  height: 125px;
  margin-bottom: 25px;
}
.comment-form p {
  font-size: 1.5em;
  margin-bottom: 15px;
}
.comment-form input {
  outline: none;
  height: 35px;
  border: 0;
  border-bottom: 1px solid #333;
}
.comment-form label {
  margin-right: 1em;
}
.comment-form .button-wrap {
  cursor: pointer;
  position: relative;
  color: var(--main-white-basic);
  background-color: var(--main-blue-main);
  width: 150px;
  height: 40px;
  margin: 25px 0;
  transition: all 0.4s;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 0 var(--main-blue-deep), 0 9px 0 var(--main-blue-deep),
    0 12px 0 var(--main-blue-deep), 0 0 20px var(--main-gray-light);
  transition: all 0.3s ease-out;
}
.button-wrap .button {
  font-size: 17px;
  vertical-align: middle;
}
.comment-form .button-wrap:active {
  box-shadow: 0 0px 0 var(--main-blue-deep), 0 3px 0 var(--main-blue-deep),
    0 6px 0 var(--main-blue-deep), 0 0 20px var(--main-gray-light);
  transition: all 0.3s ease-out;
  transform: translateY(6px);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-blue-main);
  padding: 10px;
}

.score {
  color: var(--main-white-basic);
  width: 300px;
  margin-top: 10px;
  text-align: center;
  word-wrap: break-word;
  background-color: var(--main-blue-deep);
  padding: 10px;
  border-radius: 10px;
}
.score p {
  font-size: 2em;
  margin-top: 10px;
}

.result-desc {
  text-align: center;
  word-wrap: break-word;
  margin-top: 10px;
  width: 300px;
  background-color: var(--main-white-basic);
  padding: 10px;
  border-radius: 9px;
  border: 2px solid var(--main-blue-deep);
}
.result-desc h3 {
  color: var(--main-blue-deep);
  font-weight: 700;
}
.result-desc p {
  margin-top: 10px;
}
.result-desc img {
  margin-top: 20px;
  display: block;
  width: 275px;
  height: 275px;
  background-color: #333;
}

.icon-group div {
  display: flex;
  margin-top: 10px;
}
.icon-group i {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #333;
}

.comment-section {
  margin-top: 10px;
  width: 330px;
  background-color: var(--main-white-basic);
  /* border-top: 1px solid var(--main-gray-light); */
  padding: 10px 15px;
  margin-bottom: 15px;
}
.comment-box {
  border-top: 1px solid var(--main-gray-light);
  padding: 10px 15px;
}
.honor {
  font-size: 30px;
  color: var(--main-black-basic);
  /* padding: 0px 15px; */
}
.nickname {
  display: flex;
  align-items: center;
  /* margin-bottom: 10px; */
}
.nickname .name {
  color: var(--main-black-basic);
}

footer {
  font-size: 0.8em;
  height: 100px;
  margin-bottom: 70px;
  color: var(--main-gray-deep);
  background-color: var(--main-white-basic);
  line-height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer > p {
  text-align: center;
}

/* float-box */
ul {
  padding: 0;
}
.float-box {
  justify-content: space-around;
  background-color: var(--main-black-basic);
  color: var(--main-white-basic);
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  height: 70px;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  font-size: 15px;
}
.float-box p {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.float-box i {
  height: 40px;
  border: 1px solid var(--main-gray-deep);
}
.float-box:last-child {
  border-left: 5px solid var(--main-gray-light);
}

.sns-list {
  display: flex;
  list-style: none;
  position: absolute;
  bottom: 80px;
  opacity: 0;
  gap: 1em;
  transition: all 0.3s ease-out;
}
.sns-list li {
  scale: 0;
  transform: translateY(50%);
  transition: all 0.3s ease-out;
}
@media (min-width: 576px) {
  .sns-list {
    left: 25%;
    transform: translateX(-50%);
  }
}
.link-icon {
  background-repeat: no-repeat;
  display: inline-block;
  width: 50px; /* 아이콘의 너비 설정 */
  height: 50px; /* 아이콘의 높이 설정 */
  text-indent: -9999px;
}

.link-icon.twitter {
  background-image: url(../image/X.png);
}
.link-icon.facebook {
  background-image: url(../image/facebook.png);
}
.link-icon.kakao {
  background-image: url(../image/kakao.png);
}

.copy-btn {
  width: 50px;
  height: 50px;
  border-radius: 24px;
  border: none;
  background-image: url(../image/sharebutton.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-indent: -9999px;
  padding: 0;
}
