header {
  background-color: var(--main-blue-deep);
  height: 100px;
  padding: 10px;
}

header div .logo {
  /* position: absolute; */
  left: 18px;
  top: 18px;
}

header h1 {
  margin-top: 10px;
  color: var(--main-white-basic);
  display: block;
  text-align: center;
}

.form-wrapper {
  z-index: 4;
  display: none;
}
.form-bg {
  display: none;
  z-index: 3;
  position: absolute;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.3);
  /* background-color: #333; */
}

.comment-form {
  /* outline: none; */
  z-index: 4;
  border-radius: 10px;
  background-color: var(--main-white-basic);
  backdrop-filter: blur(15px);
  padding: 25px;
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 330px;
  /* height: 200px; */
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.3);
  border: 0;
}
.comment-form input {
  outline: none;
  border: 0;
  border-bottom: 1px solid #333;
}
.comment-form p {
  font-size: 1.5em;
  margin-bottom: 15px;
}
.comment-form button {
  width: 200px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-blue-main);
  padding: 34px 10px;
}
.wrapper-content{
  width: 100%;
}

.score {
  width: 100%;
  padding: 48px 12px 40px;
  background: var(--main-blue-deep);
  border-radius: 6px;
  text-align: center;
  color: var(--main-white-basic);
  font-size: 28px;
}
.score h1{
  font-size: 28px;
  font-weight: 700;
}
.score p {
  display: inline-flex;
  align-items: center;
  margin-top: 16px;
}
.score p span {
  font-size: 48px;
  font-weight: 700;
}


.result-desc {
  width: 100%;
  padding: 20px;
  background: var(--main-white-basic);
  border-radius: 8px;
  text-align: center;
  color: var(--main-white-basic);
  font-size: 32px;
  word-wrap: break-word;
  margin-top: 38px;
  border: 2px solid var(--main-blue-deep);
}

.result-desc img {
  width: 100%;
  display: block;
  border-radius: 8px;
}

.icon-group div {
  display: flex;
  margin-top: 10px;
}
.icon-group i {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #333;
}


/* 명예의 전당 */
.comment-section {
  width: 100%;
  margin-top: 38px;
  border-radius: 8px;
  background: var(--main-white-basic);
  padding: 10px 18px;
}
.comment-box {
  border-top: 1px solid var(--main-gray-light);
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.comment-box:first-child {
  border-top: none;
}
.honor {
  font-size: 30px;
  color: var(--main-black-basic);
  padding: 18px 0 8px 0;
}
.sub-title{
  font-size: 16px;
  padding: 0  0 18px 0;
}
.profile {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}
.name {
  color: var(--main-gray-deep);
  margin-right: 5px;
  font-size: 14px;
  width: 40px;
}
.comment {
  margin-left: 40px;
  color: var(--main-black-basic);
}

footer {
  width: 100%;
  font-size: 0.8em;
  height: 100px;
  margin: 0 0 70px 0;
  color: var(--main-gray-deep);
  background-color: var(--main-white-basic);
  line-height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer > p {
  text-align: center;
}

/* float-box */
ul {
  padding: 0;
}
.float-box {
  justify-content: space-around;
  background-color: var(--main-black-basic);
  color: var(--main-white-basic);
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  height: 70px;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  font-size: 15px;
}
.float-box p {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.float-box i {
  height: 40px;
  border: 1px solid var(--main-gray-deep);
}
.float-box:last-child {
  border-left: 5px solid var(--main-gray-light);
}

.sns-list {
  display: flex;
  list-style: none;
  position: absolute;
  bottom: 80px;
  opacity: 0;
  gap: 1em;
  transition: all 0.3s ease-out;
}
.sns-list li {
  scale: 0;
  transform: translateY(50%);
  transition: all 0.3s ease-out;
}
@media (min-width: 576px) {
  .sns-list {
    left: 25%;
    transform: translateX(-50%);
  }
  .section01 img.main-title{
    top: 85px;
    left: 18px;
  }
  .section01 img.sub-title{
    top: 106px;
    left: 317px;
  }
  .section01 img.main-octocat{
    width: 14%;
    max-width: 100px;
    top: 12px;
    right: 40px;
    }
  }
@media (min-width: 1440px) {
  .section01 img.main-title{
    top: 85px;
    left: 58px;
  }
  .section01 img.sub-title{
    top: 106px;
    left: 357px;
  }
  .section01 img.main-octocat{
    width: 14%;
    max-width: 100px;
    top: 12px;
    right: 80px;
    }

    .wrapper-content{
      width: 1020px;
    }


}
.link-icon {
  background-repeat: no-repeat;
  display: inline-block;
  width: 50px; /* 아이콘의 너비 설정 */
  height: 50px; /* 아이콘의 높이 설정 */
  text-indent: -9999px;
}

.link-icon.twitter {
  background-image: url(../image/X.png);
}
.link-icon.facebook {
  background-image: url(../image/facebook.png);
}
.link-icon.kakao {
  background-image: url(../image/kakao.png);
}

.copy-btn {
  width: 50px;
  height: 50px;
  border-radius: 24px;
  border: none;
  background-image: url(../image/sharebutton.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-indent: -9999px;
  padding: 0;
}
